<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="container-fluid">
    <span class="mb-3 mb-md-0 text-body-secondary">©
      <script>
        document.write(new Date().getFullYear())
      </script> Company, Inc
    </span>
  </div>
</footer>
<%- include('./scripts'); %>