#restTimerPage {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #restTimerPage h1{
    color: #007bff;
  }
  
  #timerDisplay {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  #timerControls button {
    margin: 0 10px;
  }