<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head', {metaTitle: 'Home' }) %>
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <h1></h1>
      <%- include('../partials/components/exerciseForm') %>
    </main>
    <%- include('../partials/scripts') %>
</body>

</html>